astropy==2.0.5
attrs==17.4.0
backports.functools-lru-cache==1.5
cycler==0.10.0
funcsigs==1.0.2
kiwisolver==1.0.1
matplotlib==2.2.2
more-itertools==4.1.0
numpy==1.14.2
pluggy==0.6.0
py==1.5.3
pyephem==3.7.6.0
pyparsing==2.2.0
pytest==3.5.0
python-dateutil==2.7.2
pytz==2018.3
six==1.11.0
subprocess32==3.2.7
